.navbar-btn {
  @apply relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-600 transition duration-150 ease-in-out;

  &:hover {
    @apply bg-blue-400;
  }

  &:focus {
    @apply outline-none border-blue-600
  }
}

.navbar-btn-dark {
  @apply px-3 py-2 rounded-md text-sm font-medium leading-5 text-white transition duration-150 ease-in-out;

  &:focus {
    @apply  outline-none text-white bg-gray-700;
  }
  
  &:hover {
    @apply bg-gray-700;
  }

  &.active {
    @apply bg-gray-900;
  }
}