<template>
<nav x-data="{ open: true }" class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="-ml-2 mr-2 flex items-center md:hidden">
          <button v-on:click="open = !open" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out">
            <svg :class="{'hidden': open, 'block': !open }" class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
            <svg :class="{'hidden': !open, 'block': open }" class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
        <div class="flex-shrink-0 flex items-center">
          <img class="lg:block w-auto h-8" src="/img/horizontal-white-orange.svg" alt="OMP Logo" />
        </div>
        <div v-if="Object.keys(user).length > 0" class="hidden md:ml-6 md:flex md:items-center">
          <a href="/" class="px-3 navbar-btn-dark active">Dashboard</a>
          <a href="#" class="ml-4 navbar-btn-dark">Admin</a>
          <a href="#" class="ml-4 navbar-btn-dark">Services</a>
          <a href="#" class="ml-4 navbar-btn-dark">Report</a>
        </div>
      </div>
      <div class="flex items-center">
        <div v-if="Object.keys(user).length > 0" class="hidden md:ml-4 md:flex-shrink-0 md:flex md:items-center">
          <button class="p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-gray-300 focus:outline-none focus:text-gray-500 focus:bg-gray-100 transition duration-150 ease-in-out">
            <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
            </svg>
          </button>
          <div class="ml-3 relative" x-data="{ open: false }">
            <div>
              <button v-on:click="open = !open" class="relative flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">
              <div class="h-10 w-10 rounded-full bg-orange-500 text-white flex justify-center items-center transition duration-150 hover:bg-orange-600">
                <span class="text-lg">{{ user.name.charAt(0) }}</span>
              </div>
              <span class="text-lg">
              <i class="fa fa-caret-down text-white right-0 absolute" style="bottom:-6px"></i>
              </span>
              </button>
            </div>
            <div v-if="open" class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg z-50">
              <div class="py-1 rounded-md bg-white shadow-xs">
                <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">Your Profile</a>
                <a href="/nova" v-if="isAdmin" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">Admin</a>
                <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out">Settings</a>
                <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" v-on:click="logout">Sign out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div v-bind:class="{block: open, hidden: !open}" class="md:hidden">
    <div v-if="Object.keys(user).length > 0" class="px-2 pt-2 pb-3 sm:px-3">
      <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Dashboard</a>
      <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Admin</a>
      <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Services</a>
      <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Report</a>
    </div>
    <div v-if="Object.keys(user).length > 0" class="pt-4 pb-3 border-t border-gray-700">
      <div class="flex items-center px-5 sm:px-6">
        <div class="flex-shrink-0">
          <div class="h-10 w-10 rounded-full bg-orange-500 text-white  flex justify-center items-center">
            <span class="">{{ user.name.charAt(0) }}</span>
          </div>
        </div>
        <div class="ml-3">
          <div class="text-base font-medium leading-6 text-white">{{user.name}}</div>
          <div class="text-sm font-medium leading-5 text-gray-400">{{user.email}}</div>
        </div>
      </div>
      <div class="mt-3 px-2 sm:px-3">
        <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Your Profile</a>
        <a href="/nova" v-if="isAdmin" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Admin</a>
        <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out">Settings</a>
        <a href="#" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" v-on:click="logout">Sign out</a>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  props: ['user'],
  data () {
    return {
      open: false
    }
  },
  computed: {
    isAdmin: function() {
      if(this.user.role_id === 1 || this.user.role_id === 2) {
        return true 
      }
      return false
    }
  },
  methods: {
    logout() {
      axios.post('/logout')
        .then((res) => {
          if(res.status === 204) {
            location.reload()
          }
        })
    }
  }
};
</script>
